In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train_simple = ['call you tonight',
               'call me a cab',
               'please call me... PLEASE 44!']

test_simple = ["please don't call me"]

In [3]:
vect = CountVectorizer()
train_simple_dtm = vect.fit_transform(train_simple)

In [4]:
pd.DataFrame(train_simple_dtm.toarray(), columns=vect.get_feature_names())

   44  cab  call  me  please  tonight  you
0   0    0     1   0       0        1    1
1   0    1     1   1       0        0    0
2   1    0     1   1       2        0    0

Transform the test set:

In [5]:
test_simple_dtm = vect.transform(test_simple)

In [6]:
pd.DataFrame(test_simple_dtm.toarray(), columns=vect.get_feature_names())

   44  cab  call  me  please  tonight  you
0   0    0     1   1       1        0    0